body{
	background: #e2e2e2 !important;	
}

.bg-primary{
	background: #009688 !important;
}

.banner{
	width:100%;
	height: 93vh;
	background : linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../image/banner14.jpg");
	background-size: cover;
	color: white;
}

.my-card{
	background: #ffffff;
	padding :20px;
	border-radius: 10px;
}
